<header class="bg-white">
  <nav class="border-b border-gray-200">
    <div class="h-16 flex items-center justify-between">
      <div class="flex-1 flex items-center">
        <a href="<%= root_path %>">
          <%= image_tag "logo.png", class: "h-8 w-auto" %>
        </a>
      </div>

      <a href="<%= new_order_path %>" class="group flex items-center">
        <svg class="flex-shrink-0 h-6 w-6 text-gray-400 group-hover:text-gray-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z" />
        </svg>
        <span class="ml-2 text-sm font-medium text-gray-700 group-hover:text-gray-800"><%= cart.values.sum %></span>
      </a>
    </div>
  </nav>
</header>
